.btn-primary {
  background-color: #1e7792;
  color: white;
  text-decoration: none;
  padding: 10px 20px;
  display: inline-block;
  border-radius: 4px;
  margin: 0 10px;
  border: none;
  transition: 0.3s;
  font-size: 16px;
  font-family: "Times";
  text-align: center;
  vertical-align: middle;
}

.btn-primary:hover {
  background-color: #0c0f91;
}

.btn-primary.no-margin {
  margin: 0 0px;
}

input[type="text"],
select,
textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
}

.container {
  width: 1024px;
  margin: 0 auto;
}

.celda {
  margin-top: 20px;
  flex-wrap: wrap;
  display: flex;
}

.celda:hover {
  background-color: #bebec7;
}

#lista {
  width: 80%;
  margin: 0 auto;
}

.image {
  height: 120px;
  width: 120px;
  border-radius: 50%;
  object-fit: cover;
}

.image.userProfile {
  height: 60px;
  width: 60px;
}

.post {
  width: 33.33%;
}

.lista {
  display: flex;
  flex-wrap: wrap;
}
